* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  height: 95px;
  align-items: center;
  text-align: center;
}
.nav-data {
  align-items: center;
  font-size: 45px;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
h3 {
  margin-left: 400px;
}

.container {
  align-items: center;
  text-align: center;
  margin-top: 245px;
}

.container h2 {
  font-size: 65px;
}
#btnn {
  width: 100px;
  height: 30px;
  background-color: bisque;
  color: black;
  margin-top: 23px;
}

#btnn:hover {
  background-color: rgb(188, 167, 142);
  border-radius: 4px;
  cursor: pointer;
}
